; General configuration for GesApl v2.00

[general]

installation_dir=/usr/local

; application description, shown in help text
gesapl_description=GesApl v2.00 - Aplicación de monitorización de servicios

; directory where service data will be saved
services_data=/usr/local/etc/gesapl/services

; temporary dir (writable by non root users)
tmp_dir=/tmp/gesapl

; Log configuration file
log_configuration=/usr/local/etc/gesapl/log4perl.cnf

[daemon]

; daemon binary
gesapld_bin=/usr/local/bin/gesapld2

; daemon temporary dir
tmp_dir_gesapld=/var/run/gesapld

; pid file
pid_gesapld=/var/run/gesapld/gesapld2.pid

; Command to run for service monitoring
monitor_services="/usr/local/bin/gesapl2 -ms"
; Pause between service monitoring
monitor_interval=60

; flag to tell daemon to stop
stop_flag=/var/run/gesapld/gesapld2.stop

[mail]

; Send email to admins?
send_emails=yes

; list of administrators emails, separated by ,
admin_emails=jmanuel.ciges@gmail.com,theangryjose@gmail.com

; Configuracion of SMTP to send emails
smtp_server=smtp.gmail.com
smtp_port=465
smtp_user   =theangryjose@gmail.com
smtp_pass=Cvas1HdVe2020



